#bevip__tips,
#registerOrLoginLayer,
#ifartad,
#adfloatbaidu,
#adarttopgoogle {
    clear: both;
    display: none !important;
    height: 1px !important;
    width: 1px !important;
}

.clear360doc {
    display: none !important;
}

[id^='ifradfeed'],
#arttopbdad {
    display: none !important;
}

#divyoulikeadbody,
#divyoulikeadtitle,
.floatqrcode {
    display: none !important;
}

#bevip__tips,
#registerOrLoginLayer,
#ifartad,
#adfloatbaidu,
#adarttopgoogle {
    clear: both;
    display: none !important;
    height: 1px !important;
    width: 1px !important;
}

